.main-text__content {
    @include font(Roboto, 400, 72px, 86.4px);
}

.main-images__text {
    @include font(Roboto, 400, 20px, 25px);
    max-width: 445px;
}

.main-text {
    max-width: 794px;
}

.main-images {
    display: flex;
    justify-content: space-between;
}

.main-images__01 {
    margin-top: 232px;
    width: 329px;
    height: 493px;
}

.main-images__02 {
    width: 678px;
    height: 809px;
}

.about-style {
    @include font(Roboto, 400, 48px, 66.24px);
    width: 562px;
    margin: 0;
}

.about-content {
    display: flex;
    justify-content: space-between
}

.about-information__text, .about-info__text {
    @include font(Roboto, 400, 16px, 22.4px);
}

.about-information__text {
    width: 446px;
}

.about-information__content {
    margin-right: 230px;
}

.about-info__title {
    @include font(Roboto, 400, 36px, 49.68px);
    margin: 0;
}

.about-info {
    width: 146px;
    height: 94px;
    margin-bottom: 24px;
}

.about-info__text {
    margin: 0;
}